
<head>
<style>

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://image.freepik.com/free-vector/blogging-isometric-icon-with-character-writing-post-3d_1284-63083.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

</style>
</head>

<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
   
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center ">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Happy Bloging!</h3>




<%= form_with model: blog do |form| %>

  <div class="form-floating mb-3">
    
      <%= form.label :title %><br>
      <%= form.text_field :title , class: 'form-control'%>
  
  </div>

  <div class="form-floating mb-3">

      <%= form.label :body %><br>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
  
    <div class="form-floating mb-3">
    <%= form.label :picture %><br>
    <%= form.file_field :picture , class: 'form-control' %>
  </div>
  
  <div class="form-floating mb-3">
    <%= form.label :status  %>
    <%= form.select :status, ['Public', 'Private'], selected: 'Public' %>
   </div>
    
   <div class="d-grid">

      <%= form.submit "Done" , class: "btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" %>
    </div>
  <% end %>


   </div>
</div>
</div>
</div>
</div>
</div>
