<li>
<h4> <%= comment.commenter %> </h4>
  <%= comment.body %> 

  <%= form_for [comment, Comment.new] do |f| %>
    <%= f.hidden_field :parent_blog , value: @blog.id  %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <% end %>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>